{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublier{% endblock %}
 
{% block body %}
<div class="page text-center bg-login">
    <form method="post">
 
        <h1 class="mb-3">Mot de passe oublier</h1>
          <p class="mb-3">Veuillez insérer votre adresse email pour le réinitialisation de votre mot de passe</p>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
 
        <button class="btn btn-lg btn-primary" type="submit">
            Envoyer !
        </button>
 
    </form>
    </div>
{% endblock %}