{% extends 'base.html.twig' %}
{% block title 'Connection' %}

{% block body %}
    <div class="container mt-4 text-center">
    <h1>Connexion</h1>
        <form action="{{ path('login') }}" method="post">
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input class="form-control" id="username" name="_username" type="text" value="{{ last_username }}">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input class="form-control" id="password" name="_password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Se connecter</button>
        </form>
        {% if error %}
        <div class="alert alert-danger mt-4"> {{ error.messageKey | trans(error.messagedata, 'security') }} </div>
        {% endif %}
          <a href="{{ path('registration') }}" class="container mt-4"> S'inscrire</a>
    </div>
  
   
{% endblock %}
