{% extends 'base.html.twig' %}
{% block title 'Inscription' %}

{% block body %}
<div class="jumbotron text-center page ">
    <h1>Inscription</h1>
      {{include('security/form.html.twig')}}
</div>
{% endblock %}