{% extends 'base.html.twig' %}
{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
<div class="page text-center bg-login">
    <form method="post">

        <h1 class="mb-3">Réinitialisation du mot de passe</h1>
          <p class="mb-3">Veuillez mettre votre nouveau mot de passe</p>
        <label for="inputPassword" class="sr-only">Nouveau mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="hidden" name="token" value="{{ token }}">

        <button class="btn btn-lg btn-primary" type="submit">
            Valider
        </button>
    </form>
    </div>
{% endblock %}