{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron text-center">
<h1>WELCOME IN THE HELL</h1>
<p>elaoleo raeoroaekroaekorae oaeooaekroakeo kaeokaoe kaoek roaekr oaekroka eokaeokoae koeakoae</p>
</div>
{% endblock %}