{% extends 'base.html.twig' %}
{% block title 'Profil' %}

{% block body %}
    <div class="jumbotron text-center page">
        <h1>Profil</h1>
    </div>

    <div class='container text-center'>
        <h2>Mon profil</h2>
       
        <table class="table table-striped">

            <tbody>
              
                  <div> {{ user.username }}
                  </div>
                  <div> {{ user.email }}
                  </div>
                  
                  
                </tbody>
            </tbody>
        </table>
         
{% endblock %}