{% extends 'base.html.twig' %}
{% block title 'New' %}

{% block body %}
<div class="container style-link text-center page">
        <a class="bg-primary text-white backup rounded" href="{{ path('admin.article.index') }}">Retour sur l'administration</a>
    
    <div class="container text-center mt-4 ">
        <h1>Ajouter une nouvelle carte</h1>
       {{ include('admin/article/_form.html.twig', {button: 'Ajouter'}) }}
    </div>
    </div>
    {% endblock %}