{% extends ('base.html.twig') %}

{% block body %}
    <div class="grid-container text-center page">
        <div class="grid-x grid-padding-x">
            <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 cell">

                <h1>Mot de passe oublié ?</h1>
                <p>Pour réinitialiser votre mot de passe, Veuillez renseigner votre adresse email.</p>

                {{form_start(form)}}
                <div class="col">{{form_label(form.email)}}</div>
                 <div class="col">{{form_widget(form.email)}}</div>
                <br>
                <button class="button" type="submit">Envoyer</button>
                {{form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}
